/* CSS Document */
#calendar{
    border:0px;
}
#calendar tbody tr{
    height:40px;
}
#calendar td{
    width:80px;
    border:0px;
    border:solid 1px #3f3d8c;
    font-size:22px;
    text-align:center;
}
#calendar th{
    background-color:#807fb8;
    border:solid 1px #3f3d8c;
    color:#ffffff;
}
#calendar td.none{
    border:0px;
}
#calendar td.holiday{
    background-color:#f5a185;
}
.day{
    background-color:#CCFFCC;
}
#calendar td.today{
    background-color:#FFFF99;
    border-color:#FF531A; }
#calendar table.week{
    border:0px;
    padding:0px;
    margin:0;
}
#calendar a{
    color: #180080; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}
#calendar   a:visited {
    color: #180080; /* Цвет посещённой ссылки */
}
#calendar   a:hover {
    color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
}


/* файл menu.php */
* {
    margin:0;
    padding:0;
}

#shapka{
    position:fixed;
    top: 0px;
    display:table;
    width: 100%;
}
#hello{
    width: 170px;
    display: table-cell;
    vertical-align: middle;
}
#menu{
    display: table-cell;
}
#nav {
    font:13px verdana, arial, helvetica, sans-serif;
    list-style-type:none;
    width:100%;
    height:25px;
    display:inline-block;
    background:#9FD2D7;
    line-height:25px;
}
#nav li{
    float:left;
    width:130px;
    margin-top:-10000px;
}
#nav li a {
    width:130px;
    text-decoration:none;
    text-align:center;
    color:#3A3732;
    position:relative;
    float:left;
    margin-right:-129px;
    margin-top:10000px;
}
#nav li a:hover, #content #nav li a:focus, #content #nav li a:active {
    background:#797466;
    margin-right:0;
    color:#fff;
}
#nav li ul {
    background:#A39E92;
    float:left;
    margin-top:-25px;
    padding-top:25px;
    margin-bottom:-10000px;
    list-style-type:none;
}
#nav li ul li {
    float:none;
    margin:0;
    width:auto;
}
#nav li ul li a {
    float:none;
    display:block;
    margin:0;
    margin-right:-1px;
    background:#BFBCB5;
}

.content{
    background-color: rgba(248, 218, 110, 0.11);
    margin-top: 30px;
}

/*план вывоза*/
.rad{
    border-radius: 8px;
    /*   float: right;*/

}
.plan{
    width:100%;
}
.plan td {
    vertical-align:top;
}
.oneday{
    width: 100%;
}
.oneday td {
    vertical-align:middle;
    text-align: center;
    width: 46%;
}
.plandate {
    text-align: left !important;
}
.summa {
    text-align: right !important;/*устанавливает приоритет*/
}
/*assembly*/
.grafik{
    width: 70%;
}
.planirovanie{
    width: 30%;
    background-color: floralwhite;
    float: right;
    border: solid #f5a185;
}
#in_mount, #in_holiday{
    display: none;
}
.ass_row{
    display: table-row;
}
.ass_cell{
    display: table-cell;
    width: 180px;
    border: floralwhite solid;
    background-color: darksalmon;
    text-align: center;
}
.active{
    background-color: saddlebrown;
    color: wheat;
}
.passive{
    background-color: darksalmon;
    color: black;
}
.grafik .oneday{
    width: 90%;
    margin: 20px;
}
.grafik #date{
    background-color: peru;
    color: wheat;
    text-align: center;
}
.grafik .coll_list{
    display: table;
    width: 100%;
}
.grafik .row{
    display: table-row;
}
.grafik .cel{
    display: table-cell;
    border:  solid peru;
    background-color: wheat;
    text-align: center;
}
.grafik .oneday table{
    border: solid peru;
    border-collapse: collapse;
}
.grafik .oneday td{
    border: solid peru;
    height: 37px;
}
.grafik .oneday td:nth-of-type(1){
    width: 10%;
}
.grafik .oneday td:nth-of-type(3){
    width: 12%;
}
.grafik .oneday td:nth-of-type(4){
    width: 9%;
}
#fon{
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index:1;
    background-color: #000000;
    display: none;
}
#form {
    position: fixed;
    width: 300px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    left: 100px;
    top: 50px;
    margin: auto;
    z-index: 2;
    background-color: #FFFFFF;
    display: none;
}
#fc{
    z-index: 3;
}
/*plantech*/
.tech_table{
    float: right;
    display: table;
    margin-right: 30px;
}
.day_row{
    display: table-row;
}

.tech_cell{
    display: table-cell;
    border: solid 1px #f5a185;
    text-align: center;
    width: 105px;
}
.tech_date{
    width: 70px;
}

.nametech{
    display: table-cell;
    text-align: center;
    background-color: #f5a185;
}
.clone{
    background-color: lightskyblue;
}
.planirovanie table{
    width: 80%;
    margin: auto;
}
.planirovanie table{
    width: 80%;
    margin: auto;
}
.planirovanie table th{
    border: #FFE7D9;
    text-align: left;
    background-color: #FFE7D9;
}
#korzina {
    position: fixed;
    top: 150px;
    width: 150px;
    height: 150px;
    background-color: #cbcbbb;
}
#korzina2 {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 350px;
    background-color: #cbcbff;
}

/*repsb*/
.list_right{
    width: 25%;
    height: 100%;
    background-color: blanchedalmond;
    float: right;
}
.info{
    width: 70%;
}
.caption{
    text-align: center;
}
.collector{
    padding-left: 30%;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
}
.list_right{
    padding-left: 10px;
    padding-top: 20px;
    line-height: 160%;
}
.list_right li{
    list-style-type: none;
    color: darkred;
}
.list_right li:hover{
    background: #786b59; /* Цвет фона под ссылкой */
    color: #ffe; /* Цвет ссылки */
}
.table-left{
    text-align: center;
    width: 40%;
    background-color: gainsboro;
}
.table-right{
    text-align: center;
    background-color: honeydew;
    width: 58%;
    float: right;
}
.one-table{
    padding: 5px 0px;
    font-size: 18px;

}
.one-table table, .table-left table{
    width: 100%;
    border-collapse: collapse;
    background-color: navajowhite;
}
.one-table td, th, .table-left td, th{
    border: black solid 1px;
    font-size: 16px;
}
.one-table td{
    background-color: honeydew;
}
.table-left td{
    background-color: ghostwhite;
}

/*collector*/
.col_center{
}
.col_left{
    background-color: rgba(255, 255, 0, 0.65);
    width: 270px;
    float: left;

}
.col_right{
    background-color: rgba(73, 255, 147, 0.69);
    width: 280px;
    float: right;
}
h3{
    text-align: center;
}
/* oder.php */
.stanzak{
    float:left;
    /*		background-color:#009900;*/
    width:130px;
    margin-top:70px;
    padding-left:15px;
}
.odplandate{
    text-align: center;
    font-size: 32pt;
    color: lightcyan;
    text-shadow: 1px 1px 3px black, 0 0 6px blue;
}
#od {
    margin-left:150px;
    /*	background-color:#FFFF99;*/
    width:inherit;
}
#od h3 {
    text-align:center;
    padding-bottom:10px;
}
#od h2 {
    text-align:center;
    padding-bottom:20px;
}
#od h2 strong{
    color:#000033;
    font-size:27px;
    text-shadow: 1px 1px 2px #0033CC, 0 0 1em #FFFFCC;
}
#od .left{
    /*background-color:#FFFF00;*/
    margin-right:50%;
}
#od .right{
    /*background-color:#CC66FF;*/
    width:50%;
    float:right;
}
#od .oderer{
    /*	background-color:#CCCCFF;*/
    padding:10px;
}
#od .oder{
    /*background-color:#FFCCFF;*/
    padding:10px;
}
#od .note{
    /*background-color:#FFCCFF;*/
    padding:10px;

}
#od .farm{
    /*background-color:#CCCCFF;*/
    padding:10px;

}
#formSms {
    position: fixed;
    width: 400px;
    height: 300px;
    align-content: center;
    padding: 20px;
    z-index: 2;
    background-color: #FFFFFF;
    display: none;
}
#answersms{
    position: fixed;
    width: 450px;
    height: 80px;
    top: 80px;
    left: 200px;
    background-color: #cefffc;
    box-shadow: 0 0 20px rgba(40, 61, 164, 0.87); /* Параметры тени */
}

/*repaveturnover*/
.aveturnover{
    text-align: right;
    margin-right: 30%;
    margin-top: 40px;
    font-size: 20px;
}
.turnover{
    text-align: center;
}
.turnover table{

    margin: auto;
    border-collapse: collapse;
}
.turnover td, .turnover th{
    border: 1px solid darkseagreen;
    width: 90px;
}
.sum{
    text-align: right;
    padding-right: 20px;
    width: 250px;

}

/*claim*/
.claim{
    width: 50%;
    margin: auto;
}
.claim table{
    border: double salmon;
    width: 100%;
    border-spacing: 0px;
}
.claim th{
    background-color: navajowhite;
    border: none
}
.claim td{
    border: solid 1px navajowhite;
}
.sum_order{
    width: 25%;
    text-align: center
}
.tech{
    width: 40%;
}
.cont{
    width: 15%;
}

/*страница технолога*/
.content_main {
    max-width: 1050px;
    background-color: beige;
    margin: auto;
    overflow: hidden;
}
.span1{
    float: left;
    width: 20%;
}
.span2{
    float: left;
    background-color: bisque;
    width: 60%;
    text-align: center;
    padding-bottom: 20px;
}
.span1 div{
    border: solid sandybrown 1px;
    background-color: beige;
    width: 90%;
    margin: auto;
}
.span1 .one_month{
    background-color: bisque;
    padding: 8px 0px;
    border: none;
}
.span1 .name_month{
    background-color: sandybrown;
    text-align: center;
}
.span1 p{
    text-align: center;
    margin-top: 20px;
    font:  18px sans-serif;
}
.span2 table{
    border-spacing: 0px;
    width: 70%;
    margin: auto;
}
.span2 td, th{
    border: sandybrown solid 2px;
}
.span2 th{
    background-color: sandybrown
}
.span2 td div{
    border: 0;
    width: 80%;
    margin: auto;
}
.span2 p{
    text-align: center;
    margin: 15px 0px;
    font: italic bold 22px sans-serif;
    color: darkred;
}
/*planceh*/
.plc_date{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 24px;
}
.plc_date a:link, .plc_date a:visited{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Comic Sans MS', sans-serif;
    color: black;
}
.plc_date a:hover{
    color: rebeccapurple;
}
.plc_list{
    width: 100%;
    height: 250px;
    position: fixed;
    bottom: 0px;
}
.plc_graf{
    min-height: 400px;
    padding-bottom: 250px;
    width: 100%;
}
.plc_content_main{
    width: 1280px;
    margin: auto;
    text-align: center;
}
.plc_table{
    overflow: hidden;
    min-height: 200px;
}
.span3{
    width: 14%;
    float: left;
    min-height: 200px;
}
.span_zagol{
    background-color: #ffe9f3;
}
.plc_oned{
    width: 150px;
    height: 100%;
    float: left;
    background-color: ghostwhite;
    text-align: center;
}
.plc_oned :first-child{
    background-color: #c8b9e2;
    line-height: 2;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
}
.select-span{
    border: outset 7px #ff66a8;
}

.plan-active:hover{
    cursor: pointer;
    border: 1px solid #359bff;
}
